/* eufemisme.css */

html .eufrem {
    overflow: hidden !important;
	position: relative !important;

}

html .eufrem >* { z-index: 8 }
html .eufrem:before { z-index: 2 }
html .eufrem:after { z-index: 3 }

.grad {
    background: linear-gradient(315deg, rgba(33,33,73,1) 33%,  rgba(99,49,49,1) 66%, rgba(55,75,55,1) 99%);
    animation: gradient 45s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
	color: var(--bg);
}


.sine {
	background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 60s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

.sine:before {
	position: absolute;
    bottom: -3.2rem;
	background: rgb(0 0 0 / 40%);
	width: 200%;
	height: 62%;
    border-radius: 100%;	
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
	content: " "
}

.sine:after {
	position: absolute;
    bottom: -3rem;
	background: rgb(255 255 255 / 40%);
	width: 200%;
	height: 60%;
    border-radius: 100%;	
    animation: wave 30s -1s reverse infinite;
    opacity: 0.9;
	content: " "
}



.dew {
	background: linear-gradient(60deg, rgba(216,192,66,1) 3%, rgba(0,128,128,1) 43%, rgba(32,32,32,1) 98%);
    animation: gradient 60s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
	color: var(--bg);
}
.dew:before {
	position: absolute;
	background: #0001;
	width: 30%;
	height: 100%;
	left: 10%;
	top: 0;
	content: " ";
	animation: swave 30s -1s reverse infinite;
	align-items: center;
}
.dew:after {
	position: absolute;
	background: #fff2;
	width: 30%;
	height: 100%;
	left: 12%;
	top: 0;
	content: " ";
	animation: swave 75s 0s linear infinite;
	align-items: center;
}
	
@keyframes gradient {
    0% {
        background-position: 0% 0%;

    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes swave {
	0% {transform: scale(2) rotateZ(-45deg);border-radius: 20%;background: #0002 }
	20% {transform: scale(3); border-radius: 20%; background: #0003 }
	40% { transform: scale(4) rotateZ(-60deg); border-radius: 70%; background: #fff1; }
	60% { transform: scale(5); border-radius: 10%; background: #0001; }
	800% {transform: scale(3) rotateZ(-45deg);border-radius: 20%;background: #fff2 }
	100% {transform: scale(1.5) rotateZ(-45deg);border-radius: 20%;background: #0002 }
}


@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.spot {
	background:linear-gradient(120deg, rgba(63,63,153,1) 2%, rgba(23,23,33,1) 50%, rgba(103,103,133,1) 98%);	
}

.spot:after {
	content: ":.:.:";
	color: #fff1;
	animation: orbital 47s 0s linear infinite;
	display: inline-block;
	position: absolute;
	letter-spacing: -3pt;
}
.spot:before {
	content: ".:.:.";
	color: #fff1;
	animation: orbital 50s 1s reverse infinite;
	display: inline-block;
	position: absolute;
	letter-spacing: -3pt;
}

@keyframes orbital {
    
	0% { top: 50%; left: 90%; transform: scale(0) rotate(0deg); letter-spacing: -3pt;	 }
	20% { left: 80%; transform: scale(160) rotate(360deg) }
	40% { left: 90%; transform: scale(180) rotate(-360deg); 	 }
	50% { top: 60%; left: 80%; transform: scaleZ(0) rotate(0deg);letter-spacing: 6pt;  }
	70% { left: 90%; transform: scale(150) rotate(360deg); 	}
	80% { left: 80%; transform: scale(200) rotate(-360deg) }
	100% { top: 50%; left: 90%; transform: scale(0) rotate(0deg); letter-spacing: -3pt; }

	
}